/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #3498db, #2c3e50);
    color: #000; /* Changed text color to black */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

body, html {
    height: 100%;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    width: 100vw;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 40px;
    text-align: left;
    transition: background-color 0.3s ease-in-out;
}

div:hover {
    background-color: rgba(255, 255, 255, 1);
}

nav {
    background-color: #333;
    color: #000; /* Changed text color to black */
    padding: 15px;
    text-align: center;
}

nav a {
    color: #fff; /* Changed text color to black */
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 15px;
}

form input[type="range"] {
    width: 100%;
    margin-top: 5px;
}

form span {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

img {
    max-width: 30px;
    height: auto;
}

button {
    padding: 10px 15px;
    background-color: #2ecc71;
    color: #000; /* Changed text color to black */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background-color: #27ae60;
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: #000; /* Changed text color to black */
    text-align: center;
    padding: 15px;
}
